table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}
tr:nth-child(4n+1) td:nth-child(4n+1),
tr:nth-child(4n+2) td:nth-child(4n+2),
tr:nth-child(4n+3) td:nth-child(4n+3),
tr:nth-child(4n) td:nth-child(4n)
 {
    background-color: lime;
}



tr:nth-child(4n+2) td:nth-child(4n+1),
tr:nth-child(4n+3) td:nth-child(4n+2),
tr:nth-child(4n) td:nth-child(4n+3),
tr:nth-child(4n+1) td:nth-child(4n)
 {
    background-color: yellow;
}



tr:nth-child(4n+3) td:nth-child(4n+1),
tr:nth-child(4n) td:nth-child(4n+2),
tr:nth-child(4n+1) td:nth-child(4n+3),
tr:nth-child(4n+2) td:nth-child(4n)
 {
    background-color: silver;
}



tr:nth-child(4n) td:nth-child(4n+1),
tr:nth-child(4n+1) td:nth-child(4n+2),
tr:nth-child(4n+2) td:nth-child(4n+3),
tr:nth-child(4n+3) td:nth-child(4n)
 {
    background-color: blue;
}
